<!DOCTYPE html>
<html>
  <head>
    <title>Friends2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    <%=  render 'home/header' %>
  <body>
    <div class="container">
      <% if notice %>
        <%= render 'layouts/alerts' %>
        <br/>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
